{% extends "store/base.html" %}
{% block title %}Регистрация · Зоомагазин{% endblock %}
{% block content %}
<h1>Регистрация клиента</h1>
<form method="post">
  {% csrf_token %}
  {{ form.non_field_errors }}
  {% for field in form %}
    <div class="form-field">
      {{ field.label_tag }}
      {{ field }}
      {% if field.help_text %}
        <div class="helptext">{{ field.help_text|safe }}</div>
      {% endif %}
      {{ field.errors }}
    </div>
  {% endfor %}
  <p><button type="submit">Создать аккаунт</button></p>
</form>
<p>Уже есть аккаунт? <a href="{% url 'store:login' %}">Вход</a></p>
<p>Вы сотрудник? <a href="{% url 'store:employee-signup' %}">Регистрация сотрудника</a></p>
{% endblock %}
