{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{% block meta_description %}ЗооМаркет — интернет-магазин кормов, игрушек и аксессуаров для собак, кошек, птиц и грызунов в Беларуси.{% endblock %}">
  <meta name="keywords" content="{% block meta_keywords %}зоомагазин, корм для животных, товары для собак, товары для кошек, ЗооМаркет{% endblock %}">
  <link rel="icon" href="{% static 'images/favicon.svg' %}" type="image/svg+xml">
  <title>{% block title %}ЗооМаркет{% endblock %}</title>
  {% block extra_head %}{% endblock %}
</head>
<body>
<header id="site-header">
  <p>
    <a href="{% url 'store:home' %}" title="На главную ЗооМаркет">
      <img
        src="{% static 'images/logo-header.jpeg' %}"
        alt="Логотип ЗооМаркет"
        width="300"
        height="150"
      >
    </a>
  </p>
  {% include "store/includes/nav.html" %}
</header>

<main id="site-main">
  {% include "store/includes/messages.html" %}
  {% block content %}{% endblock %}
</main>

<footer id="site-footer">
  {% include "store/includes/footer.html" %}
</footer>
</body>
</html>
