DJANGO_SETTINGS_MODULE=zooshop.settings.dev
SECRET_KEY=change-me-in-production-use-long-random-string
DEBUG=true
ALLOWED_HOSTS=127.0.0.1,localhost

DATABASE_URL=

POSTGRES_DB=zoomag_db
POSTGRES_USER=zoomag_user
POSTGRES_PASSWORD=zoomag_secret
POSTGRES_HOST=db
POSTGRES_PORT=5432

DJANGO_LOG_LEVEL=INFO
